/* 2016-5-16 http://stackoverflow.com/questions/4288253/html5-canvas-100-width-height-of-viewport */

/* to remove the top and left whitespace */
* { margin:0; padding:0; }

/* just to be sure these are full screen */
html, body {
    width:100%;
    height:100%;
}

canvas {
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/Friendly_pumpkin.jpg);*/
    background-image: url(../images/eva.jpg);
    display: block;
    position: absolute;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    z-index: -1;
}

#controls {
    background-image: url('/assets/images/owl.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    opacity: 0.6;
}

#splash {
    text-shadow: #FFF 0px 0px 4px, #FFF 0px 0px 4px, #FFF 0px 0px 4px;
    text-align: center;
    font-size: 6em;
    color: #333333;
    margin: auto;
    padding-top: 2em;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, 4s, opacity 4s;
}
